.wrapper{
    align-items: stretch;
    display: flex;
}

.map-cont{

    position: fixed;
    width: 100%;
}

#filter-sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: blue;
    transition: all 0.5s;
    padding: 15px;
    background-image: url("../img/prism.png");
}

#danger-alert{
    margin-bottom: 0px;
}

#filter-sidebar.active {
    margin-left: -250px;
}

#map {
    height: calc(100vh - 50px);
    width: 100%;
}

#map-content{
    width: 100%;
}

@media (max-width: 768px) {
    #filter-sidebar {
        margin-left: -250px;
   }
    #filter-sidebar.active {
        margin-left: 0;
   }
}
